* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.display {
  color: white;
  width: 100%;
  padding: 10px 20px;
  background-color: #333333;
  border: 1px solid black;
  font-size: 2em;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
  /* property support */
  max-width: 800px;
  margin: 0 auto;
  text-align: right;
}

.flex-container-row {
  display: flex;
}

.button {
  flex-basis: 25%;
  text-align: center;
  padding: 40px;
  border: 1px solid black;
  background: -webkit-linear-gradient(top, #d2d2d2, #ddd);
  cursor: pointer;
}

.button:hover {
  background: #d2d2d2;
}

.button:nth-child(4n) {
  background: #ff8300;
}

.button:nth-child(4n):hover {
  background: #d2d2d2;
  transition: all 0.5s ease-in;
}

.double {
  flex-basis: 50%;
  background: #ff8300;
}

/* Calculator table history*/
.history {
  width: 80%;
  margin: 30px auto 0 auto;
  overflow: scroll;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 30px;
  margin-top: 20px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: center;
  padding: 16px;
}

th {
  background-color: orange;
  color: white;
}

tr:nth-child(even) {
  background-color: #d2d2d2;
}

/* Responsive Breakpoints */
@media screen and (max-width: 513px) {
  .button {
    padding: 10px;
  }

  .history {
    width: 100%;
  }
}